/* Override user agent styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
    list-style: none;
}

/* Rem's based on root font-size, which is 62.5% of
16px, the browser default font-size */
html {
  font-size: 62.5%;
  height: 100vh;
  overflow-y: scroll;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0rem;
  height: inherit;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #333;
}

.container {
    height: inherit;
}

.background {
    height: inherit;
    background-size: cover;
    position: relative;
}

.filter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 60%;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    -webkit-box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
            box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.85);
    border-radius: 0.5rem;
    padding: 5rem 5rem 6rem 5rem;
}

/* Heading styles with fallback for the background clip */
.filter__heading {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    color: #000654;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(../public/img/us-flag.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.filter__heading-red {
    color: #bf010a;
    font-weight: normal;
    -webkit-text-fill-color: #bf010a;
}

.filter__heading-tertiary {
    margin-bottom: 2rem;
}

.filter__instructions {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 3rem;
    margin-top: 1em;
}

.filter__instructions ul li {
    margin-bottom: 1rem;
}

.error {
    margin: 2rem 0;
    color: red;
    font-size: 1.2rem;
    font-style: italic;
}

.Select-control {
    border: 1px solid #666!important;
    cursor: pointer;
}

.Select-placeholder, .Select--single > .Select-control .Select-value{
    cursor: pointer;
    font-size: 1.6rem;
    color: #999!important;
}

.filter__wiki {
    overflow: hidden;
    position: relative;
    line-height: 1.9rem;
    margin-top: 3rem;
    padding-left: 3rem;
    margin-left: -3rem;
    max-height: 18rem;
}

.filter__wiki-icon {
    position: relative;
    top: 0.4rem;
    left: -0.2rem;
}

.filter__wiki-info {
    text-align: justify;
}

.filter__wiki-link {
    float: right;
    font-size: 1.6rem;
    color: #bf010a;
    text-decoration: none;
    border-bottom: 1px solid #1c2b4e;
    margin-top: 0.3rem;
    padding: 3px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.filter__wiki-link:hover {
    background-color: #1c2b4e;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
        transform: translateY(-2px);
}

@media only screen and (max-width: 56.25em) {
    .filter {
        width: 80%;
        padding: 3rem 3rem 4rem 3rem;
        max-width: auto;
    }
}

@media only screen and (max-width: 37.5em) {
    /* resize down the general font size */
    html {
        font-size: 56.25%;
    }
    /* Let the filter take 90% of available width in mobile */
    .filter {
        width: 90%;
    }
  }